In [3]:
import pandas as pd
df=pd.read_csv("Student_data.csv")
print(df)

    Roll no      Name  English Maths  Biology Social   Physics  Telugu  Total  \
0         1      Usha       86    99       94      96       93      86    554
1         2    Anitha       77    98       76      98       77      84    510
2         4     priya       54    33       55      65       88      88    383
3         5    murali       67    67       98      88       64      99    483
4         6     shiva       55    87       56      66       45      78    387
5         7   kalyani       67    65       78      45       56      75    494
6         8     Kavya       33    78       76      52       67      89    395
7         9      Hema       77    84       78      54       78      56    427
8        10     Prami       44    76       88      43       64      44    359
9        11     Lucky       34    32       93      34       34      75    302
10       12  Susmitha       66    89       56      32       33      76    352
11       13      Teju       79    89       33      43       67      98    409
12       14    varsha       98    87       23      54       89      98    449
13       15    vaishu       63    67       45      66       33      89    363
14       16       uma       80    95       23      87       65      87    437
15       17    urmila       50    88       22      76       67      78    381
16       18     Radha       78    77       23      56       78      66    378
17       19      Syam       87    ab       21      43       89      45    285
18       20     Suhas       45    89       34      ab       43      34    245

          District School Result         Mandal       Village Gender
0       Srikakulam   Govt   Pass        Ponduru      Kinthali      F
1            Vizag    PVT   Pass       AK palli     Pudivalsa      F
2    Vizayanagaram    PVT   Pass      Vanapalli      Ap valsa      F
3   East Godhavari   Govt   Pass          rajam     Kazi peta      F
4   West Godhavari   Govt   Pass      Annavaram       Singuru      M
5         Prakasam   Govt   Pass  Narasannapeta       Tholapi      F
6           Ongolu   Govt   Pass        Ponduru  Alamaji peta      F
7           Kadapa    PVT   Pass       Etcherla  Dhalla valsa      F
8       Ananthapur    PVT   Pass        Krishna        Ragolu      M
9          Chitoor    PVT   Pass         Kammam  Bhavaji peta      M
10      Srikakulam    PVT   Pass         Ongolu    Singupuram      F
11           Vizag   Govt   Pass     Srikakulam       PP Padu      F
12  East Godhavari   Govt   Pass          Rajam      Kinthali      F
13  West Godhavari   Govt   Pass        Ponduru       ponduru      F
14        Prakasam   Govt   Pass       AK palli       Tholapi      F
15          Ongolu   Govt   Pass      Annavaram        Ragolu      F
16      Ananthapur   Govt   Pass        Ponduru  Bhavaji peta      F
17         Chitoor   Govt   Fail       Etcherla    Singupuram      M
18      Srikakulam    PVT   Fail      Annavaram      Kinthali      M

In [4]:
f=df["Name"][df["Telugu"]<=35]
print(f)

18    Suhas
Name: Name, dtype: object

In [5]:
f=df["Name"][df["English"]<=35]
print(f)

6    Kavya
9    Lucky
Name: Name, dtype: object

In [6]:
f=df["Name"][df["Physics"]<=35]
print(f)

9        Lucky
10    Susmitha
13      vaishu
Name: Name, dtype: object

In [10]:
f=df["Name"][df["Telugu"]<=35]
print(f)

18    Suhas
Name: Name, dtype: object